<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Профиль — Tutor Helper</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', path='style.css') }}"
    >
</head>

<body>

<main class="container">
{% if user.role == "teacher" %}
    <a href="/admin" class="back-link">
        ← На главную
    </a>
{% endif %}

    <div class="form-card">

        <p class="eyebrow">Tutor Helper</p>

        <h1>Профиль пользователя</h1>

        <div class="report-section">

            <h3>Имя</h3>
            <p>{{ user.full_name }}</p>

        </div>

        <div class="report-section">

            <h3>Email</h3>
            <p>{{ user.email }}</p>

        </div>

        <div class="report-section">

            <h3>Роль</h3>
            <p>{% if user.role == "teacher" %}Учитель{% elif user.role == "parent" %}Родитель{% else %}{{ user.role }}{% endif %}</p>

        </div>

        {% if user.student_id %}
        <div class="report-section">

            <h3>Ученик</h3>
            <p>{{ user.student.full_name }}</p>

        </div>
        {% endif %}

        <div class="form-actions">
            {% if user.role == "teacher" %}
            <a href="/admin" class="button">
                На главную
            </a>
            {% elif user.role == "parent" %}
            <a href="/students/add" class="button">
                Добавить ученика
            </a>
            <a href="/lesson-reports/all_reports" class="button">
                Отчеты по ученику
            </a>
            {% endif %}

        </div>

    </div>

</main>

</body>
</html>